/* navbar style added */
.navbar {
	margin: 30px, 30px;
    padding: 30px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 30px;
  }

  
  .navbar-logo img {
    width: 35px;
    height: auto;
    margin-right: 10px;
  }

  .navbar-name {
    font-size: 35px;
  }

  .navbar-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }

  .navbar-links li {
    margin-right: 20px;
  }

  .color-text {
	color: rgba(255, 84, 0, 1);
  }

  .navbar-links li a {
	color: rgba(66, 66, 71, 1);
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
  }

  .navbar-links li a:hover {
    color: rgba(255, 84, 0, 1);
  }
/* navbar styles ended */

/* popular -Tours style started */
.popular-tour{
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
}
.popular-text{
  width: 100%;
  max-width: 400px;
  padding: 0 10px;
  justify-content: center;
}
.popular-p{
  color: rgba(66, 66, 71, 1); ;
}
.popular-img{
  width: 100%;
  max-width: 400px;
  justify-content: center;
  margin-top: 20px;
}
.popular-button{
  background-color:rgba(255, 84, 0, 1) ;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  color:  white;
  border-radius: 10px;
  margin: 20px auto;
  margin-left: 60px;
}
/* popular -Tours style ended*/

/* Styling the destination section */
.destination {
  width: 100%;
  margin: 10px;
}
.destination-text {
  text-align: center;
}
.destination-text-2 {
  color: rgba(66, 66, 71, 1);;
}

.image-container {
  display: flex;
  justify-content: center;
}
.image-with-text {
  position: relative;
  margin: 10px; 
}

.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  background-color: rgba(19, 19, 24, 0.2);
  color: white;
}

/* destination style ended */

/* footer section started*/
.footer{
  justify-content: center;
  align-items: center;
}
.footer-logo{
  font-size: 45px;
}
/* footer section ended */













  /* responsive start from here */


  
  